In [2]:
import pandas as pd
import numpy as np

In [3]:
df_games_items2=pd.read_parquet('df_games_items2.parquet')

In [4]:
df_games_reviews2=pd.read_csv('df_games_reviews3.csv')

In [ ]:
# df1 171MB

In [5]:
df_combined=pd.read_parquet('df_combined.parquet')
df_games=pd.read_parquet('df_games.parquet')

In [53]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32135 entries, 88310 to 120444
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   publisher                  24083 non-null  object
 1   url                        32135 non-null  object
 2   release_date               30068 non-null  object
 3   tags                       31972 non-null  object
 4   reviews_url                32133 non-null  object
 5   specs                      31465 non-null  object
 6   price                      30758 non-null  float64
 7   early_access               32135 non-null  float64
 8   id                         32133 non-null  float64
 9   developer                  28836 non-null  object
 10  game                       32133 non-null  object
 11  web publishing             32135 non-null  int64
 12  adventure                  32135 non-null  int64
 13  software training          32135 non-null  int64
 14  photo editing              32135 non-null  int64
 15  indie                      32135 non-null  int64
 16  education                  32135 non-null  int64
 17  action                     32135 non-null  int64
 18  animation &amp; modeling   32135 non-null  int64
 19  early access               32135 non-null  int64
 20  free to play               32135 non-null  int64
 21  audio production           32135 non-null  int64
 22  massively multiplayer      32135 non-null  int64
 23  design &amp; illustration  32135 non-null  int64
 24  utilities                  32135 non-null  int64
 25  sports                     32135 non-null  int64
 26  racing                     32135 non-null  int64
 27  rpg                        32135 non-null  int64
 28  accounting                 32135 non-null  int64
 29  simulation                 32135 non-null  int64
 30  casual                     32135 non-null  int64
 31  strategy                   32135 non-null  int64
 32  video production           32135 non-null  int64
dtypes: float64(3), int64(22), object(8)
memory usage: 8.3+ MB

In [143]:
df_games.head(1)

,publisher,genres,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,game
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro,Lost Summoner Kitty

In [144]:
df_game3=df_games.copy()

In [146]:
columnas4=['game','release_date']
df_game3=df_game3[columnas4]

In [54]:
df_games_items2.head(1)

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6.0,0.0

In [8]:
df_combined.head(1)

,publisher,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,...,design &amp; illustration,utilities,sports,racing,rpg,accounting,simulation,casual,strategy,video production
88310,Kotoshiro,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro,...,0,0,0,0,0,0,1,1,1,0

In [59]:
df_it=df_games_items2.copy()
columnas=['item_name','playtime_forever']
df_it=df_it[columnas]

In [118]:
df_it2=df_games_items2.copy()

In [119]:
columnas3=['item_name','playtime_forever','user_id']
df_it2=df_it2[columnas3]

In [103]:
df1 = df_combined.merge(df_it, left_on='game', right_on='item_name', how='inner')

KeyError: 'id'

In [120]:
df_it2.drop_duplicates(inplace=True)

In [121]:
df2 = df_combined.merge(df_it2, left_on='game', right_on='item_name', how='inner')

In [124]:
columnas3=[
 'release_date',
 'adventure',
 'software training',
 'photo editing',
 'indie',
 'education',
 'action',
 'animation &amp; modeling',
 'early access',
 'free to play',
 'audio production',
 'massively multiplayer',
 'design &amp; illustration',
 'utilities',
 'sports',
 'racing',
 'rpg',
 'accounting',
 'simulation',
 'casual',
 'strategy',
 'video production',
 'playtime_forever','user_id']
df2=df2[columnas3]

In [122]:
lista2=df2.columns.tolist()

In [123]:
lista2

['publisher',
 'url',
 'release_date',
 'tags',
 'reviews_url',
 'specs',
 'price',
 'early_access',
 'id',
 'developer',
 'game',
 'web publishing',
 'adventure',
 'software training',
 'photo editing',
 'indie',
 'education',
 'action',
 'animation &amp; modeling',
 'early access',
 'free to play',
 'audio production',
 'massively multiplayer',
 'design &amp; illustration',
 'utilities',
 'sports',
 'racing',
 'rpg',
 'accounting',
 'simulation',
 'casual',
 'strategy',
 'video production',
 'item_name',
 'playtime_forever',
 'user_id']

In [64]:
lista_de_columnas = df1.columns.tolist()

In [65]:
lista_de_columnas

['publisher',
 'url',
 'release_date',
 'tags',
 'reviews_url',
 'specs',
 'price',
 'early_access',
 'id',
 'developer',
 'game',
 'web publishing',
 'adventure',
 'software training',
 'photo editing',
 'indie',
 'education',
 'action',
 'animation &amp; modeling',
 'early access',
 'free to play',
 'audio production',
 'massively multiplayer',
 'design &amp; illustration',
 'utilities',
 'sports',
 'racing',
 'rpg',
 'accounting',
 'simulation',
 'casual',
 'strategy',
 'video production',
 'item_name',
 'playtime_forever']

In [ ]:
['web_publishing', 'audio_production', 'photo_editing', 'free_to_play', 'massively_multiplayer', 'software_training', 'animation_modeling', 'design_illustration', 'video_production']

In [77]:
columnas2=[
 'release_date',
 'adventure',
 'software training',
 'photo editing',
 'indie',
 'education',
 'action',
 'animation &amp; modeling',
 'early access',
 'free to play',
 'audio production',
 'massively multiplayer',
 'design &amp; illustration',
 'utilities',
 'sports',
 'racing',
 'rpg',
 'accounting',
 'simulation',
 'casual',
 'strategy',
 'video production',
 'playtime_forever','id']

df1= df1[columnas2]

In [78]:
df1.drop_duplicates(inplace=True)

In [79]:
df1.drop(columns='id',axis=1,inplace=True)

In [10]:
c1=['url','publisher','tags','reviews_url','specs','price','developer','id','game','user_id','steam_id','user_url','item_id ','item_name', 'playtime_2weeks ']
c2=['early_access','items_count']
df1=df1.drop(c2, axis=1)

In [85]:
df1['release_date'].head(50)

0      1997-06-30
1      1997-06-30
4      1997-06-30
5      1997-06-30
7      1997-06-30
9      1997-06-30
11     1997-06-30
12     1997-06-30
13     1997-06-30
14     1997-06-30
15     1997-06-30
16     1997-06-30
17     1997-06-30
18     1997-06-30
19     1997-06-30
23     1997-06-30
25     1997-06-30
28     1997-06-30
32     1997-06-30
34     1997-06-30
36     1997-06-30
39     1997-06-30
40     1997-06-30
41     1997-06-30
43     1997-06-30
51     1997-06-30
52     1997-06-30
54     1997-06-30
56     1997-06-30
58     1997-06-30
66     1997-06-30
68     1997-06-30
70     1997-06-30
73     1997-06-30
75     1997-06-30
76     1997-06-30
82     1997-06-30
83     1997-06-30
84     1997-06-30
85     1997-06-30
86     1997-06-30
91     1997-06-30
94     1997-06-30
96     1997-06-30
99     1997-06-30
102    1997-06-30
110    1997-06-30
112    1997-06-30
113    1997-06-30
114    1997-06-30
Name: release_date, dtype: object

In [86]:
df1['release_date'] = pd.to_datetime(df1['release_date'], format='%Y-%m-%d', errors='coerce')

In [104]:
def PlayTimeGenre(df, genero):
    # Convertir el género ingresado a minúsculas
    genero = genero.lower()

    # Filtrar el DataFrame para el género especificado
    df_genero = df[df[genero] == 1]

    # Agrupar por año y calcular las horas totales jugadas
    df_grouped = df_genero.groupby(df_genero['release_date'].dt.year)['playtime_forever'].sum()

    # Encontrar el año con más horas jugadas
    año_mas_horas = df_grouped.idxmax()

    # Crear el resultado como un diccionario
    resultado = {f"Año de lanzamiento con más horas jugadas para {genero}": año_mas_horas}

    return resultado

# Ejemplo de uso:
genero_a_buscar = 'RpG'
resultado = PlayTimeGenre(df1, genero_a_buscar)
print(resultado)

{'Año de lanzamiento con más horas jugadas para rpg': 2011.0}

In [125]:
df2['release_date'] = pd.to_datetime(df2['release_date'], format='%Y-%m-%d', errors='coerce')

In [127]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3274506 entries, 0 to 3274505
Data columns (total 24 columns):
 #   Column                     Dtype
---  ------                     -----
 0   release_date               datetime64[ns]
 1   adventure                  int64
 2   software training          int64
 3   photo editing              int64
 4   indie                      int64
 5   education                  int64
 6   action                     int64
 7   animation &amp; modeling   int64
 8   early access               int64
 9   free to play               int64
 10  audio production           int64
 11  massively multiplayer      int64
 12  design &amp; illustration  int64
 13  utilities                  int64
 14  sports                     int64
 15  racing                     int64
 16  rpg                        int64
 17  accounting                 int64
 18  simulation                 int64
 19  casual                     int64
 20  strategy                   int64
 21  video production           int64
 22  playtime_forever           float64
 23  user_id                    object
dtypes: datetime64[ns](1), float64(1), int64(21), object(1)
memory usage: 599.6+ MB

In [298]:


def UserForGenre(df, genero):
    # Convertir el género ingresado a minúsculas
    genero = genero.lower()

    # Filtrar el DataFrame para el género especificado
    df_genero = df[df[genero] == 1]

    if df_genero.empty:
        return {}  # No se encontraron datos para el género dado

    # Encontrar el usuario con más horas jugadas para el género
    usuario_mas_horas = df_genero.groupby('user_id')['playtime_forever'].sum().idxmax()

    # Filtrar el DataFrame para el usuario con más horas jugadas
    df_usuario_mas_horas = df_genero[df_genero['user_id'] == usuario_mas_horas]

    # Agrupar por año y calcular las horas totales jugadas por año
    df_year_grouped = df_usuario_mas_horas.groupby(df_usuario_mas_horas['release_date'].dt.year)['playtime_forever'].sum().reset_index()

    # Crear el resultado como un diccionario en el formato deseado
    resultado = {
        f"Usuario con más horas jugadas para Género {genero}": usuario_mas_horas,
        "Horas jugadas": df_year_grouped.rename(columns={'release_date': 'Año', 'playtime_forever': 'Horas'}).to_dict(orient='records')
    }

    return resultado

# Ejemplo de uso:
genero_a_buscar = 'rpg'  # Cambia el género según sea necesario
resultado = UserForGenre(df2, genero_a_buscar)
print(resultado)

{'Usuario con más horas jugadas para Género rpg': 'shinomegami', 'Horas jugadas': [{'Año': 1986.0, 'Horas': 1.0}, {'Año': 1999.0, 'Horas': 377.0}, {'Año': 2000.0, 'Horas': 0.0}, {'Año': 2001.0, 'Horas': 0.0}, {'Año': 2002.0, 'Horas': 0.0}, {'Año': 2003.0, 'Horas': 530943.0}, {'Año': 2004.0, 'Horas': 0.0}, {'Año': 2005.0, 'Horas': 185.0}, {'Año': 2006.0, 'Horas': 1886.0}, {'Año': 2007.0, 'Horas': 135020.0}, {'Año': 2008.0, 'Horas': 1305.0}, {'Año': 2009.0, 'Horas': 1382.0}, {'Año': 2010.0, 'Horas': 4128.0}, {'Año': 2011.0, 'Horas': 16764.0}, {'Año': 2012.0, 'Horas': 10291.0}, {'Año': 2013.0, 'Horas': 107775.0}, {'Año': 2014.0, 'Horas': 79877.0}, {'Año': 2015.0, 'Horas': 110927.0}, {'Año': 2016.0, 'Horas': 15550.0}, {'Año': 2017.0, 'Horas': 0.0}]}

In [135]:
df_it3=df_games_items2.copy()

In [134]:
df_games_reviews2

,Unnamed: 0,user_id,user_url,posted,item_id,helpful,recommend,normalized_review,sentiment_compound,sentiment_neg,sentiment_neu,sentiment_pos
0,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2011-11-05,1250.0,NaN,1.0,simple yet great replayability opinion `` zomb...,0.098,0.594,0.308,0.8481
1,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2011-07-15,22200.0,NaN,1.0,'s unique worth playthrough,0.000,0.612,0.388,0.2263
2,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2011-04-21,43110.0,NaN,1.0,great atmosphere gunplay bit chunky time end d...,0.000,0.547,0.453,0.8910
3,1,js41637,http://steamcommunity.com/id/js41637,2014-06-24,251610.0,15 of 20 people (75%) found this review helpful,1.0,know think see title `` barbie dreamhouse part...,0.162,0.601,0.237,0.5532
4,1,js41637,http://steamcommunity.com/id/js41637,2013-09-08,227300.0,0 of 1 people (0%) found this review helpful,1.0,simple 's actually simple truck driving simula...,0.061,0.619,0.320,0.9550
...,...,...,...,...,...,...,...,...,...,...,...,...
59328,25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,NaN,70.0,NaN,1.0,must classic steam definitely worth buying,0.000,0.465,0.535,0.5574
59329,25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,NaN,362890.0,NaN,1.0,game perfect remake original half life persona...,0.036,0.480,0.483,0.9776
59330,25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,NaN,273110.0,1 of 2 people (50%) found this review helpful,1.0,much fun plaing collecting resource laugh loud...,0.221,0.441,0.338,0.3400
59331,25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,NaN,730.0,NaN,1.0,laugh,0.000,0.000,1.000,0.5574
59332,25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,NaN,440.0,NaN,1.0,much fun laugh,0.000,0.127,0.873,0.7845

In [136]:
df_it3

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6.0,0.0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0.0,0.0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7.0,0.0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0.0,0.0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0.0,0.0
...,...,...,...,...,...,...,...,...
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,346330,BrainBread 2,0.0,0.0
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330,All Is Dust,0.0,0.0
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490,One Way To Die: Steam Edition,3.0,3.0
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570,You Have 10 Seconds 2,4.0,4.0
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140,Minds Eyes,3.0,3.0

In [137]:

df_rw3=df_games_reviews2.copy()
# Define los pesos para cada categoría
peso_negativo = 0.2
peso_neutral = 0.3
peso_positivo = 0.5

# Calcula el puntaje para cada fila
df_rw3['puntaje'] = (
    df_rw3['sentiment_neg'] * peso_negativo +
    df_rw3['sentiment_neu'] * peso_neutral +
    df_rw3['sentiment_pos'] * peso_positivo
)

# Ordena el DataFrame por el puntaje en orden descendente (mayor a menor)
df_rw3 = df_rw3.sort_values(by='puntaje', ascending=False)

# Ahora, df_games_reviews2 está reestructurado y ordenado según los puntajes calculados.
# Puedes utilizar este DataFrame para hacer recomendaciones u otras análisis basados en sentimiento.

In [138]:
# Supongamos que df_rw3 ya ha sido creado y modificado según el código anterior

# Lista de columnas a mantener
columnas_a_mantener = ['user_id', 'posted', 'puntaje']

# Elimina las columnas que no están en la lista de columnas a mantener
df_rw3 = df_rw3[columnas_a_mantener]

In [ ]:
# Supongamos que df_rw3 ya ha sido creado y modificado según el código anterior

# Lista de columnas a mantener
columnas_a_mantener2 = ['user_id', 'posted', ]

# Elimina las columnas que no están en la lista de columnas a mantener
df_rw3 = df_rw3[columnas_a_mantener]

In [140]:
df_it3

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6.0,0.0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0.0,0.0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7.0,0.0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0.0,0.0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0.0,0.0
...,...,...,...,...,...,...,...,...
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,346330,BrainBread 2,0.0,0.0
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330,All Is Dust,0.0,0.0
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490,One Way To Die: Steam Edition,3.0,3.0
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570,You Have 10 Seconds 2,4.0,4.0
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140,Minds Eyes,3.0,3.0

In [139]:
df_rw3

                             user_id      posted  puntaje
18900                     StudioClod         NaN  0.79945
10870                 SpectreGuy2015  2015-06-07  0.79935
5496                     slicer11221  2013-10-18  0.79590
43910                       snakedog         NaN  0.79445
46327              76561198027910454  2013-12-12  0.78630
...                              ...         ...      ...
54742              76561198082183627  2014-12-10 -0.46750
37765  abcdefghijklmnopqrstuvwxyzyes  2015-09-22 -0.47425
11429              76561198048030308  2013-11-12 -0.48670
49399                 TimonTheSentry  2015-10-18 -0.49970
43231                    daemonslove  2015-11-17 -0.50000

[59333 rows x 3 columns]

In [148]:
df3

,user_id,posted,puntaje,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,StudioClod,NaN,0.79945,87,76561198103200138,http://steamcommunity.com/id/StudioClod,2400,The Ship,60.0,0.0
1,StudioClod,NaN,0.79945,87,76561198103200138,http://steamcommunity.com/id/StudioClod,2420,The Ship Single Player,1.0,0.0
2,StudioClod,NaN,0.79945,87,76561198103200138,http://steamcommunity.com/id/StudioClod,2430,The Ship Tutorial,2.0,0.0
3,StudioClod,NaN,0.79945,87,76561198103200138,http://steamcommunity.com/id/StudioClod,4000,Garry's Mod,8788.0,0.0
4,StudioClod,NaN,0.79945,87,76561198103200138,http://steamcommunity.com/id/StudioClod,2600,Vampire: The Masquerade - Bloodlines,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7811559,76561198048030308,2013-11-12,-0.48670,262,76561198048030308,http://steamcommunity.com/profiles/76561198048...,47780,Dead Space 2,0.0,0.0
7811560,76561198048030308,2013-11-12,-0.48670,262,76561198048030308,http://steamcommunity.com/profiles/76561198048...,363970,Clicker Heroes,1890.0,0.0
7811561,76561198048030308,2013-11-12,-0.48670,262,76561198048030308,http://steamcommunity.com/profiles/76561198048...,382490,Relic Hunters Zero,275.0,0.0
7811562,76561198048030308,2013-11-12,-0.48670,262,76561198048030308,http://steamcommunity.com/profiles/76561198048...,311210,Call of Duty: Black Ops III,354.0,70.0
7811563,76561198048030308,2013-11-12,-0.48670,262,76561198048030308,http://steamcommunity.com/profiles/76561198048...,273350,Evolve Stage 2,0.0,0.0

In [141]:
df3=df_rw3.merge(df_it3,left_on='user_id',right_on='user_id',how='inner')

In [150]:
df3=df3.merge(df_game3,left_on='item_name',right_on='game',how='inner')

In [152]:
df3.drop_duplicates(inplace=True)

In [154]:
columnas5=['release_date','game','puntaje']
df3=df3[columnas5]

In [156]:
df3.dropna()

        release_date                                  game  puntaje
0         2006-11-29                           Garry's Mod  0.79945
1         2006-11-29                           Garry's Mod  0.58700
2         2006-11-29                           Garry's Mod  0.56740
3         2006-11-29                           Garry's Mod  0.55885
4         2006-11-29                           Garry's Mod  0.47440
...              ...                                   ...      ...
5135083   2016-07-29  Detective Hank and the Golden Sneeze -0.18175
5135084   2013-03-01                     The Wizard's Lair -0.18175
5135085   2016-06-30   The Final Frontier: Space Simulator -0.18770
5135086   2016-08-22                    Hardware Engineers -0.28015
5135088   2008-06-30                        Planet Busters -0.34040

[4726030 rows x 3 columns]

In [159]:
df3['release_date'] = pd.to_datetime(df3['release_date'], format='%Y-%m-%d', errors='coerce')

C:\Users\golhe\AppData\Local\Temp\ipykernel_24732\3983303398.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['release_date'] = pd.to_datetime(df3['release_date'], format='%Y-%m-%d', errors='coerce')

me gusta

In [162]:
def UsersRecommend(año: int):
    # Filtra las revisiones para el año dado y comentarios positivos/neutrales, luego ordena por puntaje
    top_3_juegos = df3[(df3['release_date'].dt.year == año) & (df3['puntaje'] >= 0)]\
        .sort_values(by='puntaje', ascending=False).head(3)

    # Crea una lista de diccionarios en el formato deseado
    resultados = [{"Puesto {}: {}".format(i+1, juego['game']): juego['puntaje']} for i, (_, juego) in enumerate(top_3_juegos.iterrows())]

    return resultados

# Ejemplo de uso:
año_dado = 2015  # Cambia el año según tus necesidades
resultado = UsersRecommend(año_dado)
print(resultado)

[{'Puesto 1: Gear Up': 0.79945}, {'Puesto 2: Nyctophilia': 0.79945}, {'Puesto 3: Primal Carnage: Extinction': 0.79945}]

In [165]:
def UsersNotRecommend(año: int):
    # Filtra las revisiones para el año dado, comentarios negativos y no recomendados, luego ordena por puntaje
    top_3_juegos = df3[(df3['release_date'].dt.year == año) & (df3['puntaje'] < 0)]\
        .sort_values(by='puntaje', ascending=True).head(3)

    # Crea una lista de diccionarios en el formato deseado
    resultados = [{"Puesto {}: {}".format(i+1, juego['game']): juego['puntaje']} for i, (_, juego) in enumerate(top_3_juegos.iterrows())]

    return resultados

# Ejemplo de uso:
año_dado = 2015  # Cambia el año según tus necesidades
resultado = UsersNotRecommend(año_dado)
print(resultado)

[{'Puesto 1: WARMODE': -0.5}, {'Puesto 2: Transformice': -0.5}, {'Puesto 3: Viridi': -0.5}]

In [166]:
df1.to_csv('df1.csv')
df2.to_csv('df2.csv')
df3.to_csv('df3.csv')

In [199]:
df4.to_csv('df4.csv')

,user_id,posted,puntaje,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,StudioClod,NaN,0.79945,87,76561198103200138,http://steamcommunity.com/id/StudioClod,2400,The Ship,60.0,0.0
1,StudioClod,NaN,0.79945,87,76561198103200138,http://steamcommunity.com/id/StudioClod,2420,The Ship Single Player,1.0,0.0
2,StudioClod,NaN,0.79945,87,76561198103200138,http://steamcommunity.com/id/StudioClod,2430,The Ship Tutorial,2.0,0.0
3,StudioClod,NaN,0.79945,87,76561198103200138,http://steamcommunity.com/id/StudioClod,4000,Garry's Mod,8788.0,0.0
4,StudioClod,NaN,0.79945,87,76561198103200138,http://steamcommunity.com/id/StudioClod,2600,Vampire: The Masquerade - Bloodlines,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7811559,76561198048030308,2013-11-12,-0.48670,262,76561198048030308,http://steamcommunity.com/profiles/76561198048...,47780,Dead Space 2,0.0,0.0
7811560,76561198048030308,2013-11-12,-0.48670,262,76561198048030308,http://steamcommunity.com/profiles/76561198048...,363970,Clicker Heroes,1890.0,0.0
7811561,76561198048030308,2013-11-12,-0.48670,262,76561198048030308,http://steamcommunity.com/profiles/76561198048...,382490,Relic Hunters Zero,275.0,0.0
7811562,76561198048030308,2013-11-12,-0.48670,262,76561198048030308,http://steamcommunity.com/profiles/76561198048...,311210,Call of Duty: Black Ops III,354.0,70.0
7811563,76561198048030308,2013-11-12,-0.48670,262,76561198048030308,http://steamcommunity.com/profiles/76561198048...,273350,Evolve Stage 2,0.0,0.0

In [169]:
df_rw4=df_games_reviews2.copy()

In [178]:
df4=df_rw4.merge(df_it3,left_on='user_id',right_on='user_id',how='inner')

In [179]:
df4=df4.merge(df_game3,left_on='item_name',right_on='game',how='inner')

In [180]:
df4.drop_duplicates(inplace=True)

In [181]:
columnas6=['release_date','sentiment_neg','sentiment_neu','sentiment_pos']
df4=df4[columnas6]

In [182]:
df4

        release_date  sentiment_neg  sentiment_neu  sentiment_pos
0         2000-11-01          0.594          0.308         0.8481
1         2000-11-01          0.612          0.388         0.2263
2         2000-11-01          0.547          0.453         0.8910
3         2000-11-01          0.601          0.237         0.5532
4         2000-11-01          0.619          0.320         0.9550
...              ...            ...            ...            ...
5135084         None          0.657          0.241         0.4404
5135085         None          0.676          0.324         0.3400
5135086         None          0.821          0.179         0.3400
5135087         None          0.453          0.547         0.9524
5135088         None          0.515          0.314         0.3883

[4974785 rows x 4 columns]

In [184]:
df4['release_date'] = pd.to_datetime(df4['release_date'], format='%Y-%m-%d', errors='coerce')

In [186]:
# Aplicar pesos para convertir en 1 o 0
df4['sentiment_neg'] = (df4['sentiment_neg'] > df4['sentiment_pos']) & (df4['sentiment_neg'] > df4['sentiment_neu']).astype(int)
df4['sentiment_neu'] = (df4['sentiment_neu'] > df4['sentiment_pos']) & (df4['sentiment_neu'] > df4['sentiment_neg']).astype(int)
df4['sentiment_pos'] = (df4['sentiment_pos'] > df4['sentiment_neu']) & (df4['sentiment_pos'] > df4['sentiment_neg']).astype(int)

# Verificar el DataFrame resultante
print(df4)

        release_date  sentiment_neg  sentiment_neu  sentiment_pos
0         2000-11-01          False          False           True
1         2000-11-01           True          False          False
2         2000-11-01          False          False           True
3         2000-11-01           True          False          False
4         2000-11-01          False          False           True
...              ...            ...            ...            ...
5135084          NaT           True          False          False
5135085          NaT           True          False          False
5135086          NaT           True          False          False
5135087          NaT          False          False           True
5135088          NaT           True          False          False

[4974785 rows x 4 columns]

In [191]:
# Convertir valores booleanos a enteros en las columnas
df4['sentiment_neg'] = df4['sentiment_neg'].astype(int)
df4['sentiment_neu'] = df4['sentiment_neu'].astype(int)
df4['sentiment_pos'] = df4['sentiment_pos'].astype(int)

# Verificar el DataFrame resultante
print(df4)

        release_date  sentiment_neg  sentiment_neu  sentiment_pos
0         2000-11-01              0              0              1
1         2000-11-01              1              0              0
2         2000-11-01              0              0              1
3         2000-11-01              1              0              0
4         2000-11-01              0              0              1
...              ...            ...            ...            ...
5135084          NaT              1              0              0
5135085          NaT              1              0              0
5135086          NaT              1              0              0
5135087          NaT              0              0              1
5135088          NaT              1              0              0

[4974785 rows x 4 columns]

In [197]:
df4.dropna()

        release_date  sentiment_neg  sentiment_neu  sentiment_pos
0         2000-11-01              0              0              1
1         2000-11-01              1              0              0
2         2000-11-01              0              0              1
3         2000-11-01              1              0              0
4         2000-11-01              0              0              1
...              ...            ...            ...            ...
5135077   2015-11-10              0              0              1
5135078   2016-02-23              0              1              0
5135079   2015-12-03              1              0              0
5135080   2015-10-09              0              0              1
5135081   2015-10-09              1              0              0

[4865428 rows x 4 columns]

In [198]:
def sentiment_analysis(año: int):
    # Filtra las reseñas para el año dado
    reseñas_por_año = df4[df4['release_date'].dt.year == año]

    # Calcula la cantidad de registros para cada categoría de sentimiento
    cantidad_negativos = (reseñas_por_año['sentiment_neg'] == 1).sum()
    cantidad_neutrales = (reseñas_por_año['sentiment_neu'] == 1).sum()
    cantidad_positivos = (reseñas_por_año['sentiment_pos'] == 1).sum()

    # Crea un diccionario con los resultados
    resultados = {
        'Negative': cantidad_negativos,
        'Neutral': cantidad_neutrales,
        'Positive': cantidad_positivos
    }

    return resultados

# Ejemplo de uso:
año_dado = 2011  # Cambia el año según tus necesidades
resultado = sentiment_analysis(año_dado)
print(resultado)

{'Negative': 197397, 'Neutral': 48618, 'Positive': 165094}

In [200]:
from sklearn.metrics.pairwise import cosine_similarity

,publisher,genres,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,game
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro,Lost Summoner Kitty
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,643980.0,Secret Level SRL,Ironbound
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,670290.0,Poolians.com,Real Pool 3D - Poolians
88313,彼岸领域,"[Action, Adventure, Casual]",http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,0.0,767400.0,彼岸领域,弹炸人2222
88314,None,None,http://store.steampowered.com/app/773570/Log_C...,None,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,0.0,773570.0,None,Log Challenge
...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,0.0,773640.0,"Nikita ""Ghost_RUS""",Colony On Mars
120441,Sacada,"[Casual, Indie, Strategy]",http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,0.0,733530.0,Sacada,LOGistICAL: South Africa
120442,Laush Studio,"[Indie, Racing, Simulation]",http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,0.0,610660.0,Laush Dmitriy Sergeevich,Russian Roads
120443,SIXNAILS,"[Casual, Indie]",http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,0.0,658870.0,"xropi,stev3ns",EXIT 2 - Directions
120444,None,None,http://store.steampowered.com/app/681550/Maze_...,None,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,1.0,681550.0,None,Maze Run VR

In [226]:
df5=df_combined.copy()
columnas7=[

 'adventure',
 'software training',
 'photo editing',
 'indie',
 'education',
 'action',
 'animation &amp; modeling',
 'early access',
 'free to play',
 'audio production',
 'massively multiplayer',
 'design &amp; illustration',
 'utilities',
 'sports',
 'racing',
 'rpg',
 'accounting',
 'simulation',
 'casual',
 'strategy',
 'video production',
 'game']
df5=df5[columnas7]

In [215]:
df5.reset_index

<bound method DataFrame.reset_index of         adventure  software training  photo editing  indie  education  action
88310           0                  0              0      1          0       1  \
88311           0                  0              0      1          0       0
88312           0                  0              0      1          0       0
88313           1                  0              0      0          0       1
88314           0                  0              0      0          0       0
...           ...                ...            ...    ...        ...     ...
120440          0                  0              0      1          0       0
120441          0                  0              0      1          0       0
120442          0                  0              0      1          0       0
120443          0                  0              0      1          0       0
120444          0                  0              0      0          0       0

        animation &amp; modeling  early access  free to play
88310                          0             0             0  \
88311                          0             0             1
88312                          0             0             1
88313                          0             0             0
88314                          0             0             0
...                          ...           ...           ...
120440                         0             0             0
120441                         0             0             0
120442                         0             0             0
120443                         0             0             0
120444                         0             0             0

        audio production  ...  utilities  sports  racing  rpg  accounting
88310                  0  ...          0       0       0    0           0  \
88311                  0  ...          0       0       0    1           0
88312                  0  ...          0       1       0    0           0
88313                  0  ...          0       0       0    0           0
88314                  0  ...          0       0       0    0           0
...                  ...  ...        ...     ...     ...  ...         ...
120440                 0  ...          0       0       0    0           0
120441                 0  ...          0       0       0    0           0
120442                 0  ...          0       0       1    0           0
120443                 0  ...          0       0       0    0           0
120444                 0  ...          0       0       0    0           0

        simulation  casual  strategy  video production
88310            1       1         1                 0  \
88311            0       0         1                 0
88312            1       1         0                 0
88313            0       1         0                 0
88314            0       0         0                 0
...            ...     ...       ...               ...
120440           1       1         1                 0
120441           0       1         1                 0
120442           1       0         0                 0
120443           0       1         0                 0
120444           0       0         0                 0

                            game
88310        Lost Summoner Kitty
88311                  Ironbound
88312    Real Pool 3D - Poolians
88313                    弹炸人2222
88314              Log Challenge
...                          ...
120440            Colony On Mars
120441  LOGistICAL: South Africa
120442             Russian Roads
120443       EXIT 2 - Directions
120444               Maze Run VR

[32135 rows x 22 columns]>

In [228]:
df5['game']=df5['game'].astype(str)
df5['game']=df5['game'].str.lower()

In [231]:
df5.drop_duplicates(inplace=True)

In [233]:
df5.reset_index(inplace=True)

In [240]:
categories = df5[['adventure',
 'software training',
 'photo editing',
 'indie',
 'education',
 'action',
 'animation &amp; modeling',
 'early access',
 'free to play',
 'audio production',
 'massively multiplayer',
 'design &amp; illustration',
 'utilities',
 'sports',
 'racing',
 'rpg',
 'accounting',
 'simulation',
 'casual',
 'strategy',
 'video production']]

# Calcula la matriz de similitud del coseno entre los juegos en función de las categorías
similarity_matrix = cosine_similarity(categories, categories)

# Función para obtener recomendaciones para un juego específico
def get_recommendations(game_name, similarity_matrix, num_recommendations=5):
    game_index = df5[df5['game'] == game_name].index[0]
    game_similarity = similarity_matrix[game_index]
    game_indices = game_similarity.argsort()[::-1]  # Ordenar por similitud descendente
    recommendations = []

    for i in range(1, num_recommendations + 1):
        recommended_game_index = game_indices[i]
        recommended_game_name = df5.loc[recommended_game_index, 'game']
        recommendations.append(recommended_game_name)

    return recommendations

# Obtener recomendaciones para un juego específico (reemplace 'NombreDelJuego' con el juego que desees)
game_name_to_recommend = 'ironbound'
num_recommendations = 5
recommendations = get_recommendations(game_name_to_recommend, similarity_matrix, num_recommendations)

print(f"Recomendaciones para el juego {game_name_to_recommend}:")
for i, recommended_game_name in enumerate(recommendations):
    print(f"{i + 1}: {recommended_game_name}")

Recomendaciones para el juego ironbound:
1: aurora trail
2: mindnight
3: shadow hunter
4: the banner saga: factions - starter pack
5: immortal empire - master pack

In [235]:

from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse import csr_matrix
import numpy as np

In [239]:

# Crear una matriz dispersa de categorías
categories = df5[['adventure',
 'software training',
 'photo editing',
 'indie',
 'education',
 'action',
 'animation &amp; modeling',
 'early access',
 'free to play',
 'audio production',
 'massively multiplayer',
 'design &amp; illustration',
 'utilities',
 'sports',
 'racing',
 'rpg',
 'accounting',
 'simulation',
 'casual',
 'strategy',
 'video production']]
categories_sparse = csr_matrix(categories)

# Calcula la matriz de similitud del coseno entre los juegos en función de las categorías
similarity_matrix = cosine_similarity(categories_sparse, categories_sparse)

# Crear un diccionario para mapear nombres de juegos a índices
game_to_index = {game_name: index for index, game_name in enumerate(df5['game'])}

# Función para obtener recomendaciones para un juego específico
def get_recommendations(game_name, similarity_matrix, num_recommendations=5):
    game_index = game_to_index.get(game_name)
    if game_index is None:
        return []

    game_similarity = similarity_matrix[game_index]
    game_indices = np.argsort(game_similarity)[::-1][:num_recommendations]
    recommendations = [df5.loc[index, 'game'] for index in game_indices]

    return recommendations

# Obtener recomendaciones para un juego específico
game_name_to_recommend = 'ironbound'
num_recommendations = 5
recommendations = get_recommendations(game_name_to_recommend, similarity_matrix, num_recommendations)

print(f"Recomendaciones para el juego {game_name_to_recommend}:")
for i, recommended_game_name in enumerate(recommendations):
    print(f"{i + 1}: {recommended_game_name}")

Recomendaciones para el juego ironbound:
1: the banner saga: factions
2: aurora trail
3: mindnight
4: shadow hunter
5: the banner saga: factions - starter pack

In [241]:
df5.to_csv('df5.csv')

In [247]:
categories = df5[['adventure',
 'software training',
 'photo editing',
 'indie',
 'education',
 'action',
 'animation &amp; modeling',
 'early access',
 'free to play',
 'audio production',
 'massively multiplayer',
 'design &amp; illustration',
 'utilities',
 'sports',
 'racing',
 'rpg',
 'accounting',
 'simulation',
 'casual',
 'strategy',
 'video production']]
game_index = df5[df5['game'] == 'ironbound'].index[0]

# Calcular la matriz de similitud de coseno solo para el juego objetivo
game_similarity = cosine_similarity(categories.iloc[[game_index]], categories)[0]

# Obtener recomendaciones para un juego específico
num_recommendations = 5
game_indices = np.argsort(game_similarity)[::-1][:num_recommendations]
recommendations = [df5.loc[index, 'game'] for index in game_indices]

print(f"Recomendaciones para el juego ironbound:")
for i, recommended_game_name in enumerate(recommendations):
    print(f"{i + 1}: {recommended_game_name}")

Recomendaciones para el juego ironbound:
1: the banner saga: factions
2: aurora trail
3: mindnight
4: shadow hunter
5: the banner saga: factions - starter pack

In [246]:
def get_recommendations(game_name, df, num_recommendations=5):
    game_index = df[df['game'] == game_name].index
    if len(game_index) == 0:
        return []

    game_index = game_index[0]
    game_similarity = cosine_similarity(categories.iloc[[game_index]], categories)[0]
    game_indices = np.argsort(game_similarity)[::-1][:num_recommendations]
    recommendations = [df.loc[index, 'game'] for index in game_indices]

    return recommendations

# Obtener recomendaciones para un juego específico
game_name_to_recommend = 'ironbound'
num_recommendations = 5
recommendations = get_recommendations(game_name_to_recommend, df5, num_recommendations)

print(f"Recomendaciones para el juego {game_name_to_recommend}:")
for i, recommended_game_name in enumerate(recommendations):
    print(f"{i + 1}: {recommended_game_name}")

Recomendaciones para el juego ironbound:
1: the banner saga: factions
2: aurora trail
3: mindnight
4: shadow hunter
5: the banner saga: factions - starter pack

In [248]:
categories = df5[['adventure',
 'software training',
 'photo editing',
 'indie',
 'education',
 'action',
 'animation &amp; modeling',
 'early access',
 'free to play',
 'audio production',
 'massively multiplayer',
 'design &amp; illustration',
 'utilities',
 'sports',
 'racing',
 'rpg',
 'accounting',
 'simulation',
 'casual',
 'strategy',
 'video production']]
game_index = df5[df5['game'] == 'ironbound'].index[0]
def get_recommendations(game_name):
    game_index = df5[df5['game'] == game_name].index
    if len(game_index) == 0:
        return []

    game_index = game_index[0]
    game_similarity = cosine_similarity(categories.iloc[[game_index]], categories)[0]
    game_indices = np.argsort(game_similarity)[::-1][:5]  # Siempre 5 recomendaciones
    recommendations = [df5.loc[index, 'game'] for index in game_indices]

    return recommendations

# Obtener recomendaciones para un juego específico
game_name_to_recommend = 'ironbound'
recommendations = get_recommendations(game_name_to_recommend)

print(f"Recomendaciones para el juego {game_name_to_recommend}:")
for i, recommended_game_name in enumerate(recommendations):
    print(f"{i + 1}: {recommended_game_name}")

Recomendaciones para el juego ironbound:
1: the banner saga: factions
2: aurora trail
3: mindnight
4: shadow hunter
5: the banner saga: factions - starter pack

In [ ]:
game_index = df5[df5['game'] == 'ironbound'].index[0]

In [249]:

df1.to_parquet('df1.parquet')
df2.to_parquet('df2.parquet')
df3.to_parquet('df3.parquet')
df4.to_parquet('df4.parquet')
df5.to_parquet('df5.parquet')

In [250]:
df2

,release_date,adventure,software training,photo editing,indie,education,action,animation &amp; modeling,early access,free to play,...,sports,racing,rpg,accounting,simulation,casual,strategy,video production,playtime_forever,user_id
0,1997-06-30,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,5.0,UTNerd24
1,1997-06-30,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0.0,I_DID_911_JUST_SAYING
2,1997-06-30,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0.0,76561197962104795
3,1997-06-30,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0.0,r3ap3r78
4,1997-06-30,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,13.0,saint556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274501,2004-03-01,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0.0,76561198273508956
3274502,2004-03-01,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0.0,76561198282090798
3274503,2004-03-01,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0.0,943525
3274504,2004-03-01,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,9.0,76561198283312749
3274505,2004-03-01,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,99.0,76561198312638244

In [251]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3274506 entries, 0 to 3274505
Data columns (total 24 columns):
 #   Column                     Dtype
---  ------                     -----
 0   release_date               datetime64[ns]
 1   adventure                  int64
 2   software training          int64
 3   photo editing              int64
 4   indie                      int64
 5   education                  int64
 6   action                     int64
 7   animation &amp; modeling   int64
 8   early access               int64
 9   free to play               int64
 10  audio production           int64
 11  massively multiplayer      int64
 12  design &amp; illustration  int64
 13  utilities                  int64
 14  sports                     int64
 15  racing                     int64
 16  rpg                        int64
 17  accounting                 int64
 18  simulation                 int64
 19  casual                     int64
 20  strategy                   int64
 21  video production           int64
 22  playtime_forever           float64
 23  user_id                    object
dtypes: datetime64[ns](1), float64(1), int64(21), object(1)
memory usage: 599.6+ MB

In [252]:
df2.drop_duplicates(inplace=True)
df2.dropna()

,release_date,adventure,software training,photo editing,indie,education,action,animation &amp; modeling,early access,free to play,...,sports,racing,rpg,accounting,simulation,casual,strategy,video production,playtime_forever,user_id
0,1997-06-30,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,5.0,UTNerd24
1,1997-06-30,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0.0,I_DID_911_JUST_SAYING
2,1997-06-30,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0.0,76561197962104795
3,1997-06-30,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0.0,r3ap3r78
4,1997-06-30,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,13.0,saint556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274501,2004-03-01,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0.0,76561198273508956
3274502,2004-03-01,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0.0,76561198282090798
3274503,2004-03-01,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0.0,943525
3274504,2004-03-01,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,9.0,76561198283312749
3274505,2004-03-01,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,99.0,76561198312638244

In [253]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3255820 entries, 0 to 3274505
Data columns (total 24 columns):
 #   Column                     Dtype
---  ------                     -----
 0   release_date               datetime64[ns]
 1   adventure                  int64
 2   software training          int64
 3   photo editing              int64
 4   indie                      int64
 5   education                  int64
 6   action                     int64
 7   animation &amp; modeling   int64
 8   early access               int64
 9   free to play               int64
 10  audio production           int64
 11  massively multiplayer      int64
 12  design &amp; illustration  int64
 13  utilities                  int64
 14  sports                     int64
 15  racing                     int64
 16  rpg                        int64
 17  accounting                 int64
 18  simulation                 int64
 19  casual                     int64
 20  strategy                   int64
 21  video production           int64
 22  playtime_forever           float64
 23  user_id                    object
dtypes: datetime64[ns](1), float64(1), int64(21), object(1)
memory usage: 621.0+ MB

In [254]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3255820 entries, 0 to 3274505
Data columns (total 24 columns):
 #   Column                     Dtype
---  ------                     -----
 0   release_date               datetime64[ns]
 1   adventure                  int64
 2   software training          int64
 3   photo editing              int64
 4   indie                      int64
 5   education                  int64
 6   action                     int64
 7   animation &amp; modeling   int64
 8   early access               int64
 9   free to play               int64
 10  audio production           int64
 11  massively multiplayer      int64
 12  design &amp; illustration  int64
 13  utilities                  int64
 14  sports                     int64
 15  racing                     int64
 16  rpg                        int64
 17  accounting                 int64
 18  simulation                 int64
 19  casual                     int64
 20  strategy                   int64
 21  video production           int64
 22  playtime_forever           float64
 23  user_id                    object
dtypes: datetime64[ns](1), float64(1), int64(21), object(1)
memory usage: 621.0+ MB

In [255]:

# Cambiar tipos de datos
columnas_numericas = df2.select_dtypes(include=['int64', 'float64']).columns
df2[columnas_numericas] = df2[columnas_numericas].apply(pd.to_numeric, downcast='unsigned')

In [260]:
df2.reset_index()

,index,release_date,adventure,software training,photo editing,indie,education,action,animation &amp; modeling,early access,...,sports,racing,rpg,accounting,simulation,casual,strategy,video production,playtime_forever,user_id
0,0,1997-06-30,0,0,0,1,0,1,0,0,...,0,1,0,0,0,0,0,0,5,UTNerd24
1,1,1997-06-30,0,0,0,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,I_DID_911_JUST_SAYING
2,2,1997-06-30,0,0,0,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,76561197962104795
3,3,1997-06-30,0,0,0,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,r3ap3r78
4,4,1997-06-30,0,0,0,1,0,1,0,0,...,0,1,0,0,0,0,0,0,13,saint556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3255815,3274501,2004-03-01,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,76561198273508956
3255816,3274502,2004-03-01,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,76561198282090798
3255817,3274503,2004-03-01,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,943525
3255818,3274504,2004-03-01,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,9,76561198283312749
3255819,3274505,2004-03-01,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,99,76561198312638244

In [261]:
df2.to_csv('df2.csv')

In [259]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3255820 entries, 0 to 3274505
Data columns (total 24 columns):
 #   Column                     Dtype
---  ------                     -----
 0   release_date               datetime64[ns]
 1   adventure                  uint8
 2   software training          uint8
 3   photo editing              uint8
 4   indie                      uint8
 5   education                  uint8
 6   action                     uint8
 7   animation &amp; modeling   uint8
 8   early access               uint8
 9   free to play               uint8
 10  audio production           uint8
 11  massively multiplayer      uint8
 12  design &amp; illustration  uint8
 13  utilities                  uint8
 14  sports                     uint8
 15  racing                     uint8
 16  rpg                        uint8
 17  accounting                 uint8
 18  simulation                 uint8
 19  casual                     uint8
 20  strategy                   uint8
 21  video production           uint8
 22  playtime_forever           uint32
 23  user_id                    object
dtypes: datetime64[ns](1), object(1), uint32(1), uint8(21)
memory usage: 152.1+ MB

In [262]:
import gzip
import shutil

# Ruta al archivo CSV que deseas comprimir
archivo_csv = "df2.csv"

# Ruta donde deseas guardar el archivo comprimido en formato .gz
archivo_gz = "df2.csv.gz"

with open(archivo_csv, 'rb') as f_in:
    with gzip.open(archivo_gz, 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

print(f"Archivo CSV comprimido como {archivo_gz}")

Archivo CSV comprimido como df2.csv.gz

In [263]:
df2

,release_date,adventure,software training,photo editing,indie,education,action,animation &amp; modeling,early access,free to play,...,sports,racing,rpg,accounting,simulation,casual,strategy,video production,playtime_forever,user_id
0,1997-06-30,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,5,UTNerd24
1,1997-06-30,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,I_DID_911_JUST_SAYING
2,1997-06-30,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,76561197962104795
3,1997-06-30,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,r3ap3r78
4,1997-06-30,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,13,saint556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274501,2004-03-01,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,76561198273508956
3274502,2004-03-01,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,76561198282090798
3274503,2004-03-01,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,943525
3274504,2004-03-01,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,9,76561198283312749
3274505,2004-03-01,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,99,76561198312638244

In [264]:
df2['release_date'] = df2['release_date'].dt.year

In [267]:
df2['release_date'] = pd.to_datetime(df2['release_date']).dt.date

In [268]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3255820 entries, 0 to 3274505
Data columns (total 24 columns):
 #   Column                     Dtype
---  ------                     -----
 0   release_date               object
 1   adventure                  uint8
 2   software training          uint8
 3   photo editing              uint8
 4   indie                      uint8
 5   education                  uint8
 6   action                     uint8
 7   animation &amp; modeling   uint8
 8   early access               uint8
 9   free to play               uint8
 10  audio production           uint8
 11  massively multiplayer      uint8
 12  design &amp; illustration  uint8
 13  utilities                  uint8
 14  sports                     uint8
 15  racing                     uint8
 16  rpg                        uint8
 17  accounting                 uint8
 18  simulation                 uint8
 19  casual                     uint8
 20  strategy                   uint8
 21  video production           uint8
 22  playtime_forever           uint32
 23  user_id                    object
dtypes: object(2), uint32(1), uint8(21)
memory usage: 152.1+ MB

In [296]:
df2=pd.read_csv('df2.csv')

In [277]:
df2.drop(columns='Unnamed',axis= 1,inplace=True)

KeyError: "['Unnamed'] not found in axis"

KeyError: '[True] not found in axis'

In [297]:
df2['release_date'] = pd.to_datetime(df2['release_date'], format='%Y-%m-%d', errors='coerce')

# Extrae y almacena solo el año en la misma columna 'release_date'

In [287]:
df2['release_date'] = df2['release_date'].dt.date

In [292]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3274506 entries, 0 to 3274505
Data columns (total 25 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Unnamed: 0                 int64
 1   release_date               datetime64[ns]
 2   adventure                  int64
 3   software training          int64
 4   photo editing              int64
 5   indie                      int64
 6   education                  int64
 7   action                     int64
 8   animation &amp; modeling   int64
 9   early access               int64
 10  free to play               int64
 11  audio production           int64
 12  massively multiplayer      int64
 13  design &amp; illustration  int64
 14  utilities                  int64
 15  sports                     int64
 16  racing                     int64
 17  rpg                        int64
 18  accounting                 int64
 19  simulation                 int64
 20  casual                     int64
 21  strategy                   int64
 22  video production           int64
 23  playtime_forever           float64
 24  user_id                    object
dtypes: datetime64[ns](1), float64(1), int64(22), object(1)
memory usage: 624.6+ MB

In [301]:
columnas_numericas = df2.select_dtypes(include=['int64', 'float64']).columns

# Convierte solo las columnas numéricas a int16
df2[columnas_numericas] = df2[columnas_numericas].astype('int16')

In [ ]:
df2_sampled

,Unnamed: 0,release_date,adventure,software training,photo editing,indie,education,action,animation &amp; modeling,early access,...,sports,racing,rpg,accounting,simulation,casual,strategy,video production,playtime_forever,user_id
0,0,NaT,0,0,0,1,0,1,0,0,...,0,1,0,0,0,0,0,0,5,UTNerd24
1,1,NaT,0,0,0,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,I_DID_911_JUST_SAYING
2,2,NaT,0,0,0,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,76561197962104795
3,3,NaT,0,0,0,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,r3ap3r78
4,4,NaT,0,0,0,1,0,1,0,0,...,0,1,0,0,0,0,0,0,13,saint556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274501,-2299,NaT,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,76561198273508956
3274502,-2298,NaT,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,76561198282090798
3274503,-2297,NaT,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,943525
3274504,-2296,NaT,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,9,76561198283312749
3274505,-2295,NaT,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,99,76561198312638244

In [315]:
def UserForGenre(df, genero):
    # Convertir el género ingresado a minúsculas
    genero = genero.lower()

    # Filtrar el DataFrame para el género especificado
    df_genero = df[df[genero] == 1]

    if df_genero.empty:
        return {}  # No se encontraron datos para el género dado

    # Encontrar el usuario con más horas jugadas para el género
    usuario_mas_horas = df_genero.groupby('user_id')['playtime_forever'].sum().idxmax()

    # Filtrar el DataFrame para el usuario con más horas jugadas
    df_usuario_mas_horas = df_genero[df_genero['user_id'] == usuario_mas_horas]

    # Agrupar por año y calcular las horas totales jugadas por año
    df_year_grouped = df_usuario_mas_horas.groupby(df_usuario_mas_horas['release_date'].dt.year)['playtime_forever'].sum().reset_index()

    # Crear el resultado como un diccionario en el formato deseado
    resultado = {
        f"Usuario con más horas jugadas para Género {genero}": usuario_mas_horas,
        "Horas jugadas": df_year_grouped.rename(columns={'release_date': 'Año', 'playtime_forever': 'Horas'}).to_dict(orient='records')
    }

    return resultado
genero_a_buscar = 'rpg'  # Cambia el género según sea necesario
resultado = UserForGenre(df2_sampled, genero_a_buscar)
print(resultado)

{'Usuario con más horas jugadas para Género rpg': 'REBAS_AS_F-T', 'Horas jugadas': [{'Año': 2005.0, 'Horas': 0}, {'Año': 2008.0, 'Horas': 30}, {'Año': 2009.0, 'Horas': 921}, {'Año': 2010.0, 'Horas': 0}, {'Año': 2011.0, 'Horas': 21684}, {'Año': 2012.0, 'Horas': 6407}, {'Año': 2013.0, 'Horas': 38041}, {'Año': 2014.0, 'Horas': 22702}, {'Año': 2015.0, 'Horas': 87573}, {'Año': 2016.0, 'Horas': 108645}, {'Año': 2017.0, 'Horas': 0}]}

In [303]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3274506 entries, 0 to 3274505
Data columns (total 25 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Unnamed: 0                 int16
 1   release_date               datetime64[ns]
 2   adventure                  int16
 3   software training          int16
 4   photo editing              int16
 5   indie                      int16
 6   education                  int16
 7   action                     int16
 8   animation &amp; modeling   int16
 9   early access               int16
 10  free to play               int16
 11  audio production           int16
 12  massively multiplayer      int16
 13  design &amp; illustration  int16
 14  utilities                  int16
 15  sports                     int16
 16  racing                     int16
 17  rpg                        int16
 18  accounting                 int16
 19  simulation                 int16
 20  casual                     int16
 21  strategy                   int16
 22  video production           int16
 23  playtime_forever           int16
 24  user_id                    object
dtypes: datetime64[ns](1), int16(23), object(1)
memory usage: 193.6+ MB

In [304]:
df2.to_parquet('df2.parquet')

In [305]:
df2=pd.read_parquet('df2.parquet')

In [308]:
seed = 42

df2_sampled = df2.sample(frac=0.4, random_state=seed)

In [311]:
columnas_numericas = df2_sampled.select_dtypes(include=['int64', 'float64']).columns

# Convierte solo las columnas numéricas a int16
df2_sampled[columnas_numericas] = df2_sampled[columnas_numericas].astype('int16')

In [314]:
df2_sampled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1309802 entries, 935017 to 769627
Data columns (total 24 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   release_date               1279259 non-null  datetime64[ns]
 1   adventure                  1309802 non-null  int16
 2   software training          1309802 non-null  int16
 3   photo editing              1309802 non-null  int16
 4   indie                      1309802 non-null  int16
 5   education                  1309802 non-null  int16
 6   action                     1309802 non-null  int16
 7   animation &amp; modeling   1309802 non-null  int16
 8   early access               1309802 non-null  int16
 9   free to play               1309802 non-null  int16
 10  audio production           1309802 non-null  int16
 11  massively multiplayer      1309802 non-null  int16
 12  design &amp; illustration  1309802 non-null  int16
 13  utilities                  1309802 non-null  int16
 14  sports                     1309802 non-null  int16
 15  racing                     1309802 non-null  int16
 16  rpg                        1309802 non-null  int16
 17  accounting                 1309802 non-null  int16
 18  simulation                 1309802 non-null  int16
 19  casual                     1309802 non-null  int16
 20  strategy                   1309802 non-null  int16
 21  video production           1309802 non-null  int16
 22  playtime_forever           1309802 non-null  int16
 23  user_id                    1309802 non-null  object
dtypes: datetime64[ns](1), int16(22), object(1)
memory usage: 84.9+ MB

In [316]:
df2_sampled.to_parquet('df2.parquet')

In [324]:
df3

        release_date                                  game  puntaje
0         2006-11-29                           Garry's Mod  0.79945
1         2006-11-29                           Garry's Mod  0.58700
2         2006-11-29                           Garry's Mod  0.56740
3         2006-11-29                           Garry's Mod  0.55885
4         2006-11-29                           Garry's Mod  0.47440
...              ...                                   ...      ...
5135083   2016-07-29  Detective Hank and the Golden Sneeze -0.18175
5135084   2013-03-01                     The Wizard's Lair -0.18175
5135085   2016-06-30   The Final Frontier: Space Simulator -0.18770
5135086   2016-08-22                    Hardware Engineers -0.28015
5135088   2008-06-30                        Planet Busters -0.34040

[4717678 rows x 3 columns]

In [320]:
df3.dropna(inplace=True)

C:\Users\golhe\AppData\Local\Temp\ipykernel_24732\1665326329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.dropna(inplace=True)

In [321]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4717678 entries, 0 to 5135088
Data columns (total 3 columns):
 #   Column        Dtype
---  ------        -----
 0   release_date  datetime64[ns]
 1   game          object
 2   puntaje       float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 144.0+ MB

In [362]:
df3_sampled.to_parquet('df3b.parquet')

In [371]:
df3.to_parquet('df3z.parquet')

In [365]:
df3=pd.read_parquet('df3.parquet')

In [360]:
df3['puntaje'] = df3['puntaje'].astype('float32')

In [363]:
df3_sampled = df3.sample(frac=0.5, random_state=seed)

In [343]:
df3_sampled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3774142 entries, 2211783 to 398348
Data columns (total 3 columns):
 #   Column        Dtype
---  ------        -----
 0   release_date  datetime64[ns]
 1   game          object
 2   puntaje       float32
dtypes: datetime64[ns](1), float32(1), object(1)
memory usage: 100.8+ MB

In [368]:
df3.drop_duplicates(inplace=True)

In [370]:
df3

        release_date                                  game   puntaje
0         2006-11-29                           Garry's Mod  0.799316
1         2006-11-29                           Garry's Mod  0.586914
2         2006-11-29                           Garry's Mod  0.567383
3         2006-11-29                           Garry's Mod  0.559082
4         2006-11-29                           Garry's Mod  0.474365
...              ...                                   ...       ...
5135083   2016-07-29  Detective Hank and the Golden Sneeze -0.181763
5135084   2013-03-01                     The Wizard's Lair -0.181763
5135085   2016-06-30   The Final Frontier: Space Simulator -0.187744
5135086   2016-08-22                    Hardware Engineers -0.280029
5135088   2008-06-30                        Planet Busters -0.340332

[1952459 rows x 3 columns]

In [369]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1952459 entries, 0 to 5135088
Data columns (total 3 columns):
 #   Column        Dtype
---  ------        -----
 0   release_date  datetime64[ns]
 1   game          object
 2   puntaje       float32
dtypes: datetime64[ns](1), float32(1), object(1)
memory usage: 52.1+ MB

In [356]:
df3['game'] = df3['game'].str.replace('[^a-zA-Z0-9 ]', '', regex=True)
df3['game'] = df3['game'].astype(str)

In [357]:
df3

        release_date                                  game   puntaje
0         2006-11-29                            Garrys Mod  0.799316
1         2006-11-29                            Garrys Mod  0.586914
2         2006-11-29                            Garrys Mod  0.567383
3         2006-11-29                            Garrys Mod  0.559082
4         2006-11-29                            Garrys Mod  0.474365
...              ...                                   ...       ...
5135083   2016-07-29  Detective Hank and the Golden Sneeze -0.181763
5135084   2013-03-01                      The Wizards Lair -0.181763
5135085   2016-06-30    The Final Frontier Space Simulator -0.187744
5135086   2016-08-22                    Hardware Engineers -0.280029
5135088   2008-06-30                        Planet Busters -0.340332

[4717678 rows x 3 columns]

In [358]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4717678 entries, 0 to 5135088
Data columns (total 3 columns):
 #   Column        Dtype
---  ------        -----
 0   release_date  datetime64[ns]
 1   game          object
 2   puntaje       float32
dtypes: datetime64[ns](1), float32(1), object(1)
memory usage: 126.0+ MB

In [438]:
df1.dropna(inplace=True)

In [441]:
int_columns = df1.select_dtypes(include=['int64']).columns
df1[int_columns] = df1[int_columns].astype('int32')  # Puedes usar 'int16' si tus valores son pequeños

# Convierte las columnas float64 a tipos de datos más ligeros
float_columns = df1.select_dtypes(include=['float64']).columns
df1[float_columns] = df1[float_columns].astype('float32')  # Puedes usar 'float16' si tus valores son pequeños

In [442]:
int_columns = df1.select_dtypes(include=['int32']).columns
df1[int_columns] = df1[int_columns].astype('int16')  # Puedes usar 'int16' si tus valores son pequeños

# Convierte las columnas float64 a tipos de datos más ligeros
float_columns = df1.select_dtypes(include=['float32']).columns
df1[float_columns] = df1[float_columns].astype('float16')  # Puedes usar 'float16' si tus valores son pequeños

In [378]:
df1.to_csv('df1.csv')

In [384]:
df2.drop_duplicates(inplace=True)
df2.dropna(inplace=True)

In [403]:
seed = 42

df4 = df4.sample(frac=0.4, random_state=seed)

In [395]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 382018 entries, 2972188 to 824546
Data columns (total 24 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   release_date               382018 non-null  datetime64[ns]
 1   adventure                  382018 non-null  int16
 2   software training          382018 non-null  int16
 3   photo editing              382018 non-null  int16
 4   indie                      382018 non-null  int16
 5   education                  382018 non-null  int16
 6   action                     382018 non-null  int16
 7   animation &amp; modeling   382018 non-null  int16
 8   early access               382018 non-null  int16
 9   free to play               382018 non-null  int16
 10  audio production           382018 non-null  int16
 11  massively multiplayer      382018 non-null  int16
 12  design &amp; illustration  382018 non-null  int16
 13  utilities                  382018 non-null  int16
 14  sports                     382018 non-null  int16
 15  racing                     382018 non-null  int16
 16  rpg                        382018 non-null  int16
 17  accounting                 382018 non-null  int16
 18  simulation                 382018 non-null  int16
 19  casual                     382018 non-null  int16
 20  strategy                   382018 non-null  int16
 21  video production           382018 non-null  int16
 22  playtime_forever           382018 non-null  float16
 23  user_id                    382018 non-null  object
dtypes: datetime64[ns](1), float16(1), int16(21), object(1)
memory usage: 24.8+ MB

In [396]:
df2.to_csv('df2.csv')

In [388]:
int_columns = df2.select_dtypes(include=['int64']).columns
df2[int_columns] = df2[int_columns].astype('int32')  # Puedes usar 'int16' si tus valores son pequeños

# Convierte las columnas float64 a tipos de datos más ligeros
float_columns = df2.select_dtypes(include=['float64']).columns
df2[float_columns] = df2[float_columns].astype('float32')  # Puedes usar 'float16' si tus valores son pequeños

In [397]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1952459 entries, 0 to 5135088
Data columns (total 3 columns):
 #   Column        Dtype
---  ------        -----
 0   release_date  datetime64[ns]
 1   game          object
 2   puntaje       float32
dtypes: datetime64[ns](1), float32(1), object(1)
memory usage: 52.1+ MB

In [398]:
df3.to_csv('df3.csv')

In [404]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1946171 entries, 3068546 to 2381177
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   release_date   datetime64[ns]
 1   sentiment_neg  int32
 2   sentiment_neu  int32
 3   sentiment_pos  int32
dtypes: datetime64[ns](1), int32(3)
memory usage: 52.0 MB

In [405]:
df4.to_csv('df4.csv')

In [401]:
df4.dropna(inplace=True)

In [407]:
int_columns = df5.select_dtypes(include=['int64']).columns
df5[int_columns] = df5[int_columns].astype('int32')  # Puedes usar 'int16' si tus valores son pequeños

# Convierte las columnas float64 a tipos de datos más ligeros
float_columns = df5.select_dtypes(include=['float64']).columns
df5[float_columns] = df5[float_columns].astype('float32')  # Puedes usar 'float16' si tus valores son pequeños

In [411]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32126 entries, 0 to 32125
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   index                      32126 non-null  int32
 1   adventure                  32126 non-null  int32
 2   software training          32126 non-null  int32
 3   photo editing              32126 non-null  int32
 4   indie                      32126 non-null  int32
 5   education                  32126 non-null  int32
 6   action                     32126 non-null  int32
 7   animation &amp; modeling   32126 non-null  int32
 8   early access               32126 non-null  int32
 9   free to play               32126 non-null  int32
 10  audio production           32126 non-null  int32
 11  massively multiplayer      32126 non-null  int32
 12  design &amp; illustration  32126 non-null  int32
 13  utilities                  32126 non-null  int32
 14  sports                     32126 non-null  int32
 15  racing                     32126 non-null  int32
 16  rpg                        32126 non-null  int32
 17  accounting                 32126 non-null  int32
 18  simulation                 32126 non-null  int32
 19  casual                     32126 non-null  int32
 20  strategy                   32126 non-null  int32
 21  video production           32126 non-null  int32
 22  game                       32126 non-null  object
dtypes: int32(22), object(1)
memory usage: 2.9+ MB

In [413]:
df5

,index,adventure,software training,photo editing,indie,education,action,animation &amp; modeling,early access,free to play,...,utilities,sports,racing,rpg,accounting,simulation,casual,strategy,video production,game
0,88310,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,1,1,1,0,lost summoner kitty
1,88311,0,0,0,1,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,ironbound
2,88312,0,0,0,1,0,0,0,0,1,...,0,1,0,0,0,1,1,0,0,real pool 3d - poolians
3,88313,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,弹炸人2222
4,88314,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,log challenge
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32121,120440,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,colony on mars
32122,120441,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,logistical: south africa
32123,120442,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,russian roads
32124,120443,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,exit 2 - directions
32125,120444,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,maze run vr

In [416]:
def PlayTimeGenre(df, genero):
    # Convertir el género ingresado a minúsculas
    genero = genero.lower()

    # Filtrar el DataFrame para el género especificado
    df_genero = df[df[genero] == 1]

    # Agrupar por año y calcular las horas totales jugadas
    df_grouped = df_genero.groupby(df_genero['release_date'].dt.year)['playtime_forever'].sum()

    # Encontrar el año con más horas jugadas
    año_mas_horas = df_grouped.idxmax()

    # Crear el resultado como un diccionario
    resultado = {f"Año de lanzamiento con más horas jugadas para {genero}": año_mas_horas}

    return resultado

PlayTimeGenre(df1,'action')

{'Año de lanzamiento con más horas jugadas para action': 2006}

In [447]:
def PlayTimeGenre(df, genero):
    # Convertir el género ingresado a minúsculas
    genero = genero.lower()

    # Filtrar el DataFrame para el género especificado
    df_genero = df[df[genero] == 1]

    # Agrupar por año y calcular las horas totales jugadas
    df_grouped = df_genero.groupby(df_genero['year'])['playtime_forever'].sum()

    # Encontrar el año con más horas jugadas
    año_mas_horas = df_grouped.idxmax()

    # Devolver el año como un entero
    return año_mas_horas

anio_mas_horas = PlayTimeGenre(df1, 'action')
print(anio_mas_horas)  # Esto imprimirá el año como un entero

2006

In [445]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 452418 entries, 91584 to 640977
Data columns (total 24 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 452418 non-null  int16
 1   adventure                  452418 non-null  int16
 2   software training          452418 non-null  int16
 3   photo editing              452418 non-null  int16
 4   indie                      452418 non-null  int16
 5   education                  452418 non-null  int16
 6   action                     452418 non-null  int16
 7   animation &amp; modeling   452418 non-null  int16
 8   early access               452418 non-null  int16
 9   free to play               452418 non-null  int16
 10  audio production           452418 non-null  int16
 11  massively multiplayer      452418 non-null  int16
 12  design &amp; illustration  452418 non-null  int16
 13  utilities                  452418 non-null  int16
 14  sports                     452418 non-null  int16
 15  racing                     452418 non-null  int16
 16  rpg                        452418 non-null  int16
 17  accounting                 452418 non-null  int16
 18  simulation                 452418 non-null  int16
 19  casual                     452418 non-null  int16
 20  strategy                   452418 non-null  int16
 21  video production           452418 non-null  int16
 22  playtime_forever           452418 non-null  float16
 23  year                       452418 non-null  int16
dtypes: float16(1), int16(23)
memory usage: 24.2 MB

In [444]:
df1= df1.sample(frac=0.5, random_state=seed)

In [421]:
df1['year'] = df1['release_date'].dt.year

In [423]:
df1.drop(columns='release_date',inplace=True)

In [434]:
df1=pd.read_csv('df1.csv')

In [446]:
df1.to_csv('df1.csv')

In [436]:
df1

,Unnamed: 0,adventure,software training,photo editing,indie,education,action,animation &amp; modeling,early access,free to play,...,sports,racing,rpg,accounting,simulation,casual,strategy,video production,playtime_forever,year
0,0,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,5.0,1997
1,1,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0.0,1997
2,4,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,13.0,1997
3,5,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,110.0,1997
4,7,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,8.0,1997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904830,3316510,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,847.0,2004
904831,3316530,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,6096.0,2004
904832,3316567,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,556.0,2004
904833,3316575,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1126.0,2004
904834,3316580,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,2156.0,2004

In [448]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 452418 entries, 91584 to 640977
Data columns (total 24 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 452418 non-null  int16
 1   adventure                  452418 non-null  int16
 2   software training          452418 non-null  int16
 3   photo editing              452418 non-null  int16
 4   indie                      452418 non-null  int16
 5   education                  452418 non-null  int16
 6   action                     452418 non-null  int16
 7   animation &amp; modeling   452418 non-null  int16
 8   early access               452418 non-null  int16
 9   free to play               452418 non-null  int16
 10  audio production           452418 non-null  int16
 11  massively multiplayer      452418 non-null  int16
 12  design &amp; illustration  452418 non-null  int16
 13  utilities                  452418 non-null  int16
 14  sports                     452418 non-null  int16
 15  racing                     452418 non-null  int16
 16  rpg                        452418 non-null  int16
 17  accounting                 452418 non-null  int16
 18  simulation                 452418 non-null  int16
 19  casual                     452418 non-null  int16
 20  strategy                   452418 non-null  int16
 21  video production           452418 non-null  int16
 22  playtime_forever           452418 non-null  float16
 23  year                       452418 non-null  int16
dtypes: float16(1), int16(23)
memory usage: 24.2 MB